body::before {
  display: block;
  content: '';
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/* <div class="col-md">
<div class="card bg-dark text-light">
  <div class="card-body text-light">
    <img
      class="img-fluid h-50 mb-3"
      src="img/hinde.jpeg"
      alt="Turdoides hindei"
    />
  </div>
  <h3 class="card-title">Turdoides hindei</h3>
  <p class="card-text p-3">
    Are you a tour operator, a tour guide or a bird lover ,here is
    something for you.welcome to thingira cultural village and it
    environ the home of Hinde's babbler (Turdoides hindei), also known
    as Hinde's pied-babbler, is a species of bird in the
    Leiothrichidae family. It is endemic to Kenya. Its natural
    habitats are subtropical or tropical moist shrubland, arable land,
    and plantations. It is threatened by habitat loss but here it has
    found its home plus many more species if birds. Remember to carry
    your binoculars
  </p>
  <!-- <a href="#" class="btn btn-dark"></a> -->
</div>
</div>
</div> */
